body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #f77f00;
    color: white;
    padding: 20px;
    text-align: right;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav {
    background-color: #333;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center items horizontally */
}

nav li {
    margin: 0 15px; /* Space between items */
}

nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #f77f00; /* Highlight color */
}

.container {
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    text-align: center;
    position: relative;
    height: 500px;
    background-image: url('https://static.pakwheels.com/2023/12/Ferrari-SF90-XX-Stradale-scaled.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.btn {
    background-color: rgba(76, 175, 80, 0.8);
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: rgba(76, 175, 80, 1);
}

footer {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
    text-align: center;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.links {
    display: flex; /* Enable flexbox */
    justify-content: space-around; /* Space items evenly */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    margin: 20px 0;
}

.links div {
    margin: 10px;
    flex: 1; /* Allow sections to grow equally */
    min-width: 200px; /* Set a minimum width */
}

.btn-cookie {
    background-color: #f77f00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}